*.rbc
*.sassc
**.orig
.powder
.project
.rspec
.rvmrc
.sass-cache
karma.conf.js
/.bundle
/config/application.yml
/config/database.yml
/coverage/
/db/*.sqlite3
/log/*
/public/system/*
/public/assets/*
/spec/tmp/*
/tmp/*
/vendor/bundle
capybara-*.html
pickle-email-*.html
rerun.txt
