#photos
  margin: 20px 19px 19px 20px
  +breakpoint($bp-desktop)
    margin: 40px 39px 39px 40px

  li
    position: relative
    padding: 0 1px 1px 0
    +inline-block
    +box-sizing(border-box)
    width: 50%
    +breakpoint($bp-small)
      width: 33.3333%
    +breakpoint($bp-medium)
      width: 25%
    +breakpoint($bp-desktop)
      width: 20%

