.photo
  +animate(fade-in, 0.25s)
  img
    height: 100%
    +opacity(0)

  &.loaded
    img
      +animate(fade-in, 0.25s)
      +opacity(1)

  &.portrait
    img
      height: auto
      width: 100%
