.photo
  img
    display: block
    width: 100%
    +opacity(0)
    +single-transition(opacity, 500ms)

  &.loaded
    img
      +opacity(1)

  &:before, &:after
    +single-transition(opacity, 100ms)
    +opacity(0)

  &:before
    position: absolute
    top: 0
    right: 0
    bottom: 0
    left: 0
    border: 10px solid $primary-color
    content: ''
  &:after
    position: absolute
    top: 0
    right: 0
    width: 40px
    height: 40px
    line-height: 40px
    background: $primary-color
    font-family: 'Photeasy Icons'
    vertical-align: middle
    color: $foreground-color
    text-align: center
    content: 'c'

  &.selected
    &:before, &:after
      +opacity(1)
