%form{action: '/subscriptions', method: 'POST'}
  %header
    %hgroup
      %h2 Want an invite?
      %h3 Drop us your email and we will notify you when we are live.

  %fieldset
    %input{type: 'email', placeholder: 'Email', name: 'email'}
    %button{type: 'submit'} GO

%section.result#success
  .inner
    %hgroup
      %h2 You are in!
      %h3 We are hard at work and will shoot you an email once everything is ready for your beautiful photos.

    .media
      %abbr.icon-twitter{title: 'Twitter'}

%section.result#subscribed
  .inner
    %hgroup
      %h2 Again?!?!
      %h3 You must be really excited because that email is already signed up. We like you too!

%section.result#error-bro
  .inner
    %hgroup
      %h2 OMFG! :(
      %h3 Something didn't work right, and I'm too lazy to figure it out for you. Hit refresh... or not. I DGAF.
