%form{action: '/subscriptions', method: 'POST'}
  %header
    %hgroup
      %h2 Want an invite?
      %h3 Drop us your email and we will notify you when we are live.

  %fieldset
    %input{type: 'email', placeholder: 'Email', name: 'email'}
    %button{type: 'submit'} GO

%section.result#success
  .inner
    %hgroup
      %h2 You are in!
      %h3 We are hard at work and will shoot you an email once everything is ready for your beautiful photos.

    .media
      %a.twitter-share-button{href: 'https://twitter.com/share'} Tweet
      .fb-like{"data-href" => "http://photeasy.com", "data-layout" => "button_count", "data-send" => "false", "data-show-faces" => "false", "data-width" => "90"}

%section.result#subscribed
  .inner
    %hgroup
      %h2 Again?!?!
      %h3 You must be really excited because that email is already signed up. We like you too!

    .media
      %a.twitter-share-button{href: 'https://twitter.com/share'} Tweet
      .fb-like{"data-href" => "http://photeasy.com", "data-layout" => "button_count", "data-send" => "false", "data-show-faces" => "false", "data-width" => "90"}


%section.result#error-bro
  .inner
    %hgroup
      %h2 OMFG! :(
      %h3 Something didn't work right, and I'm too lazy to figure it out for you. Hit refresh... or not. I DGAF.
