%form
  %header
    %hgroup
      %h2 Want an invite?
      %h3 Drop us your email and we will notify you when we are live.

  %input{type: 'email', placeholder: 'Email'}
  %button{type: 'submit'} GO
