%form{action: '/subscriptions', method: 'POST'}
  %header
    %hgroup
      %h2 Want an invite?
      %h3 Drop us your email and we will notify you when we are live.

  %fieldset
    %input{type: 'email', placeholder: 'Email', name: 'email'}
    %button{type: 'submit'} GO

%section.result#success
  .inner
    %hgroup
      %h2 You are in!
      %h3 We are hard at work and will shoot you an email once everything is ready for your beautiful photos.

    .media
      -# .fb-like{"data-href" => "http://localhost:3000", "data-send" => "true", "data-show-faces" => "false", "data-width" => "450"}
      -# #fb-root
      -# :javascript
      -#   (function(d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (d.getElementById(id)) return; js = d.createElement(s); js.id = id; js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=324422707617818"; fjs.parentNode.insertBefore(js, fjs); }(document, 'script', 'facebook-jssdk'));

      -# %a.twitter-share-button{href: 'https://twitter.com/share'} Tweet
      -# :javascript
      -#   !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');

%section.result#subscribed
  .inner
    %hgroup
      %h2 Again?!?!
      %h3 You must be really excited because that email is already signed up. We like you too!

%section.result#error-bro
  .inner
    %hgroup
      %h2 OMFG! :(
      %h3 Something didn't work right, and I'm too lazy to figure it out for you. Hit refresh... or not. I DGAF.
