DROPBOX_KEY: 'xxxxxxxxxx'
DROPBOX_SECRET: 'xxxxxxxxxx'
MAILCHIMP_API_KEY: 'xxxxxxxxxx'
MANDRILL_USERNAME: 'xxxxxxxxxx'
MANDRILL_APIKEY: 'xxxxxxxxxx'
PUSHER_APP_ID: 'xxxxxxxxxx'
PUSHER_KEY: 'xxxxxxxxxx'
PUSHER_SECRET: 'xxxxxxxxxx'
PUSHER_VERSION: 'xxxxxxxxxx'
AWS_BUCKET: 'xxxxxxxxxx'
AWS_ACCESS_KEY_ID: 'xxxxxxxxxx'
AWS_SECRET_ACCESS_KEY: 'xxxxxxxxxx'