development:
  adapter: postgresql
  encoding: unicode
  database: photeasy_development
  pool: 5
  username: kevinthompson
  password:
  host: localhost

test:
  adapter: postgresql
  encoding: unicode
  database: photeasy_test
  pool: 5
  username: kevinthompson
  password:
  host: localhost