//          __              __
//         /\ \            /\ \__
//    _____\ \ \___     ___\ \ ,_\    __     __      ____  __  __
//   /\ '__`\ \  _ `\  / __`\ \ \/  /'__`\ /'__`\   /',__\/\ \/\ \
//   \ \ \L\ \ \ \ \ \/\ \L\ \ \ \_/\  __//\ \L\.\_/\__, `\ \ \_\ \
//    \ \ ,__/\ \_\ \_\ \____/\ \__\ \____\ \__/.\_\/\____/\/`____ \
//     \ \ \/  \/_/\/_/\/___/  \/__/\/____/\/__/\/_/\/___/  `/___/> \
//      \ \_\                                                  /\___/
//       \/_/                                                  \/__/

///////////////////////////////////////
// Imports
///////////////////////////////////////
@import compass

// No styles imported
@import _vars
@import _mixins

// Styles imported
@import _fonts
@import compass/reset
@import _placeholders
@import _typography
@import _grids
@import _icons
@import _animations
@import _buttons

///////////////////////////////////////
// Views
///////////////////////////////////////
@import views/_header
@import views/_photos
@import views/_photo
@import views/_photo_detail
@import views/_album_pop_over

///////////////////////////////////////
// Global Styles
///////////////////////////////////////
html
  +background($background-color)
  @extend %primary-font
  +animate(fade-in, 500ms)

#wrap
  +background($background-color)

#main, #header
  +opacity(0)

  &.rendered
    +single-transition(opacity, 250ms)
    +opacity(1)

#main
  +clearfix
  +box-sizing(border-box)
  +background($foreground-color)
  margin: 0 auto
  width: 100%
  max-width: $max-width

  +breakpoint($bp-desktop)
    width: $desktop-width

  +breakpoint($bp-max)
    width: $max-width

// Should move out
#overlay
  position: fixed
  top: 0
  right: 0
  bottom: 0
  left: 0
  z-index: 100
  +background(rgba(black, 0.8))
  text-align: center

  visibility: hidden
  +opacity(0)
  +transition(visibility 0s linear 0.25s,opacity 0.25s linear 0s)

  &:before
    +inline-block
    height: 100%
    content: ''

  & > *
    +inline-block
    text-align: left
    vertical-align: middle


  &.show
    visibility: visible
    +opacity(1)
    +transition(visibility 0s linear 0s,opacity 0.25s linear 0s)

#pop-over
  position: fixed
  bottom: 0
  left: 0
  right: 0
