/*
 *= require libs/normalize
 *= require_self
 *= require_tree .
 */

@import 'compass';

// --------------------
//  Layout
// --------------------

html {
  background: #f6f6f6;
}
body {
  padding-top: 60px;
}

#header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
#alert > div {
  padding: 0 20px;
  background: #C37063;
  overflow: hidden;
}
#navigation {
  background: #68c2a0;
  padding: 0 20px;
  @include clearfix;

  h1 {
    @include inline-block;
    vertical-align: middle;
    margin: 0;
    line-height: 60px;
  }
  ul {
    float: right;
    list-style: none;
    margin: 0;
    padding: 0;
    line-height: 60px;
  }

  li {
    @include inline-block;
    margin: 0 10px;
    vertical-align: middle;
  }

  a {
    color: #000000;
    text-decoration: none;
  }
}
#main {
  padding: 0 10px;
  h1 {
    padding: 0 10px;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li {
    @include inline-block;
  }

}

.photo {
  width: 150px;
  height: 150px;
  margin: 10px;
  overflow: hidden;
  background-position: center;
  @include background-size(cover);

  &.loaded {
    background: #ddd;

    img {
      @include opacity(1);
    }
  }

  img {
    @include single-transition(opacity, 1s);
    @include opacity(0);
  }
}



// --------------------
//  Typography
// --------------------

// Headings
h1, h2, h3, h4, h5, h6 {}
h1 {}
h2 {}
h3 {}
h4 {}
h5 {}
h6 {}
