<!DOCTYPE html>
<html>
<head>
  <title>Photeasy</title>
  <%= javascript_include_tag 'lib/require', 'data-main' => 'assets/photeasy' %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="main">
</div>
</body>
</html>
