!!! 5
%html
  %head
    %title Photeasy
    = stylesheet_link_tag 'styles'
    = javascript_include_tag 'app/libs/require', 'data-main' => '/assets/app.js'
    = csrf_meta_tags
  %body
    #wrap
      %header#header
      %section#main
        = yield
      %footer#footer
